body {
    width: 90%;
    margin: 0 auto;
    
    }
.container{
    width: 90%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}
.ninefourzero{
    width:100%;
    background-color: lightcoral;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    height: 90px;

    min-width: 460px;
    overflow: auto;
    padding-top: 40px
}
.foursixzero{
    float: left;
    width: 48%;
    padding: 5px;
    margin: 5px;
    min-width: 460px;
    background-color: lightcoral;
    height: 80px;
    padding-top: 30px
}
.threedoublezero{
    float: left;
    width: 31.5%;
    padding: 5px;
    min-width: 300px;
    margin:5px;
    height: 70px;
    padding-top: 25px;
    background-color: lightcoral

}
.doubletwozero{
    float: left;
    width: 23.3%;
    padding: 5px;
    margin:5px;
    min-width: 220px;
    height: 60px;
    padding-top: 20px;
    background-color: lightcoral

}
.onefourzero{
    float: left;
    width: 15.1%;
    padding: 5px;
    margin:5px;
    min-width: 160px;
    height: 50px;
    padding-top: 15px;
    background-color: lightcoral

}
.sixzero{
    float: left;
    width: 6.9%;
    padding: 5px;
    margin:5px;
    min-width: 80px;
    height: 40px;
    padding-top: 5px;
    background-color: lightcoral

}